<header class="fixed-top">
    <nav class="container navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand section__title mb-0" href="#">The Bendeys</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02" style="flex-grow: initial;">
                <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0" style="gap: 30px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#hello">Bienvenue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hotels">Hôtels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#que-faire">Que faire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#venir-en-ci">Venir en côte d’ivoire</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>